---
services:
  # 现货机器人
  freqtrade-spot:
    build:
      context: .
      dockerfile: "./docker/Dockerfile.custom"
    restart: unless-stopped
    container_name: freqtrade-spot
    volumes:
      - "./user_data:/freqtrade/user_data"
    ports:
      - "0.0.0.0:8081:8081"
    environment:
      - TZ=Asia/Shanghai
    command: >
      trade
      --logfile /freqtrade/user_data/logs/freqtrade-spot.log
      --db-url sqlite:////freqtrade/user_data/tradesv3_spot.sqlite
      --config /freqtrade/user_data/config_spot.json
      --strategy SupertrendStrategy_Smart

  # 合约机器人
  freqtrade-futures:
    build:
      context: .
      dockerfile: "./docker/Dockerfile.custom"
    restart: unless-stopped
    container_name: freqtrade-futures
    volumes:
      - "./user_data:/freqtrade/user_data"
    ports:
      - "0.0.0.0:8080:8080"
    environment:
      - TZ=Asia/Shanghai
    command: >
      trade
      --logfile /freqtrade/user_data/logs/freqtrade-futures.log
      --db-url sqlite:////freqtrade/user_data/tradesv3_futures.sqlite
      --config /freqtrade/user_data/config_futures.json
      --strategy SupertrendFuturesStrategyV8
